<nav class="navbar navbar-light bg-light d-flex">
    <div class="col">
        <button (click)="useLanguage('en')">{{'topBar.en' | translate}}</button>
        <button (click)="useLanguage('ru')">{{'topBar.ru' | translate}}</button>
    </div>
    <div class="col-md-auto"></div>
    <button class="btn btn-outline-success mx-3" type="button" (click)="login()" [hidden]="isAuthenticated">{{'topBar.signIn' | translate}}</button>
    <button class="btn btn-outline-success mx-3" type="button" (click)="register()" [hidden]="isAuthenticated">{{'topBar.signUp' | translate}}</button>
    <button class="btn btn-outline-success mx-3" type="button" (click)="logout()" [hidden]="!isAuthenticated">{{'topBar.logout' | translate}}</button>
</nav>
