<nav class="navbar navbar-light bg-light d-flex">
    <div class="col">
        <button (click)="useLanguage('en')">{{'topBar.en' | translate}}</button>
        <button (click)="useLanguage('ru')">{{'topBar.ru' | translate}}</button>
    </div>
    <div class="col-md-auto"></div>
    <a class="nav-link mx-3" href="auth/login" [hidden]="isAuthenticated">{{'topBar.signIn' | translate}}</a>
    <a class="nav-link mx-3" href="auth/register" [hidden]="isAuthenticated">{{'topBar.signUp' | translate}}</a>
    <button class="btn btn-outline-success mx-3" type="button" (click)="logout()" [hidden]="!isAuthenticated">{{'topBar.logout' | translate}}</button>
</nav>
