<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!requests"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="requests">
  <thead>
    <tr>
      <th>ID</th>
      <th>userId</th>
      <th>theme</th>
      <th>description</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <td>{{ request.id }}</td>
      <td>{{ request.userId }}</td>
      <td>{{ request.theme }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.date }}</td>
    </tr>
  </tbody>
</table>
