<div class="container page">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-3 col-xs-12">
            <h1 class="text-xs-center">Sign up</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <fieldset class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Email"
                               formControlName="email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Email"
                               formControlName="email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="password"
                               class="form-control form-control-lg"
                               placeholder="Password"
                               formControlName="password" />
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right"
                            type="submit">
                        Sign in
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
